*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section1{
    background-color: aqua;
}
.header{
display: flex;
justify-content: space-between;
align-items: center;
}
.header-logo{
background-color: royalblue;
}
.header-menu{
background-color: blueviolet;
}
.menu-item{

}
